openapi: 3.1.0
info:
  title: Payoes API
  version: 1.0.0
  description: |
    REST API for creating and managing Stellar payments, customers, checkout sessions,
    payment links, and invoices.

    ## Authentication

    Send your API key as a Bearer token. Sandbox keys use the `pk_test_` prefix and
    only access sandbox data. Live keys use `pk_live_` and only access production data.

    ## Environments

    Sandbox and production are fully isolated. Resources created in one environment
    are not visible from API keys scoped to the other.
servers:
  - url: https://payoes.com/api/v1
    description: Production host (replace with your deployment URL)
  - url: http://localhost:3000/api/v1
    description: Local development
security:
  - bearerAuth: []
tags:
  - name: Payments
    description: Direct payment intents with hosted Stellar checkout
  - name: Customers
    description: Payer profiles scoped to your organization and environment
  - name: Checkout sessions
    description: Hosted checkout flows with optional redirect URLs
  - name: Payment links
    description: Reusable shareable links that start checkout on each visit
  - name: Invoices
    description: Customer invoices with draft, finalize, and checkout lifecycle
paths:
  /payments:
    get:
      operationId: listPayments
      tags: [Payments]
      summary: List payments
      description: Returns payments for the organization and environment tied to the API key.
      responses:
        "200":
          description: Payment list
          content:
            application/json:
              schema:
                type: object
                required: [payments]
                properties:
                  payments:
                    type: array
                    items:
                      $ref: "#/components/schemas/Payment"
        "401":
          $ref: "#/components/responses/Unauthorized"
    post:
      operationId: createPayment
      tags: [Payments]
      summary: Create a payment
      description: |
        Creates a pending payment and returns a hosted checkout URL.
        The receiving wallet and Stellar network are resolved from your organization settings.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreatePaymentRequest"
      responses:
        "201":
          description: Payment created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Payment"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
  /payments/{id}:
    get:
      operationId: getPayment
      tags: [Payments]
      summary: Retrieve a payment
      parameters:
        - $ref: "#/components/parameters/PaymentId"
      responses:
        "200":
          description: Payment details
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Payment"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
  /customers:
    get:
      operationId: listCustomers
      tags: [Customers]
      summary: List customers
      description: Returns customers for the organization and environment tied to the API key.
      responses:
        "200":
          description: Customer list
          content:
            application/json:
              schema:
                type: object
                required: [customers]
                properties:
                  customers:
                    type: array
                    items:
                      $ref: "#/components/schemas/Customer"
        "401":
          $ref: "#/components/responses/Unauthorized"
    post:
      operationId: createCustomer
      tags: [Customers]
      summary: Create a customer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateCustomerRequest"
      responses:
        "201":
          description: Customer created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Customer"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
  /customers/{id}:
    get:
      operationId: getCustomer
      tags: [Customers]
      summary: Retrieve a customer
      description: Returns the customer and their payment history in the current environment.
      parameters:
        - $ref: "#/components/parameters/CustomerId"
      responses:
        "200":
          description: Customer with payment history
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/Customer"
                  - type: object
                    properties:
                      payments:
                        type: array
                        items:
                          $ref: "#/components/schemas/Payment"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
  /checkout-sessions:
    get:
      operationId: listCheckoutSessions
      tags: [Checkout sessions]
      summary: List checkout sessions
      responses:
        "200":
          description: Checkout session list
          content:
            application/json:
              schema:
                type: object
                required: [checkout_sessions]
                properties:
                  checkout_sessions:
                    type: array
                    items:
                      $ref: "#/components/schemas/CheckoutSession"
        "401":
          $ref: "#/components/responses/Unauthorized"
    post:
      operationId: createCheckoutSession
      tags: [Checkout sessions]
      summary: Create a checkout session
      description: |
        Creates a checkout session and underlying payment intent. Returns a hosted
        checkout URL (`/c/cs_...`) for the payer.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateCheckoutSessionRequest"
      responses:
        "201":
          description: Checkout session created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CheckoutSession"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
  /checkout-sessions/{id}:
    get:
      operationId: getCheckoutSession
      tags: [Checkout sessions]
      summary: Retrieve a checkout session
      parameters:
        - $ref: "#/components/parameters/CheckoutSessionId"
      responses:
        "200":
          description: Checkout session details
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CheckoutSession"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
  /payment-links:
    get:
      operationId: listPaymentLinks
      tags: [Payment links]
      summary: List payment links
      responses:
        "200":
          description: Payment link list
          content:
            application/json:
              schema:
                type: object
                required: [payment_links]
                properties:
                  payment_links:
                    type: array
                    items:
                      $ref: "#/components/schemas/PaymentLink"
        "401":
          $ref: "#/components/responses/Unauthorized"
    post:
      operationId: createPaymentLink
      tags: [Payment links]
      summary: Create a payment link
      description: |
        Creates a reusable payment link. Each visit starts a new checkout session.
        Share the returned `url` (`/l/plink_...`).
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreatePaymentLinkRequest"
      responses:
        "201":
          description: Payment link created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PaymentLink"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
  /payment-links/{id}:
    get:
      operationId: getPaymentLink
      tags: [Payment links]
      summary: Retrieve a payment link
      parameters:
        - $ref: "#/components/parameters/PaymentLinkId"
      responses:
        "200":
          description: Payment link details
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PaymentLink"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
  /invoices:
    get:
      operationId: listInvoices
      tags: [Invoices]
      summary: List invoices
      responses:
        "200":
          description: Invoice list
          content:
            application/json:
              schema:
                type: object
                required: [invoices]
                properties:
                  invoices:
                    type: array
                    items:
                      $ref: "#/components/schemas/Invoice"
        "401":
          $ref: "#/components/responses/Unauthorized"
    post:
      operationId: createInvoice
      tags: [Invoices]
      summary: Create an invoice
      description: |
        Creates a draft invoice for a customer. Finalize the invoice to generate a
        checkout session and payment link. Use the dashboard to send invoices by email.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateInvoiceRequest"
      responses:
        "201":
          description: Invoice created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Invoice"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
  /invoices/{id}:
    get:
      operationId: getInvoice
      tags: [Invoices]
      summary: Retrieve an invoice
      parameters:
        - $ref: "#/components/parameters/InvoiceId"
      responses:
        "200":
          description: Invoice details
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Invoice"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
  /invoices/{id}/finalize:
    post:
      operationId: finalizeInvoice
      tags: [Invoices]
      summary: Finalize an invoice
      description: |
        Moves a draft invoice to `open`, creates a checkout session, and returns the
        checkout URL for the customer to pay.
      parameters:
        - $ref: "#/components/parameters/InvoiceId"
      responses:
        "200":
          description: Invoice finalized
          content:
            application/json:
              schema:
                type: object
                required: [invoice, checkout_url]
                properties:
                  invoice:
                    $ref: "#/components/schemas/Invoice"
                  checkout_url:
                    type: string
                    format: uri
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: API key from the Payoes dashboard (`pk_test_...` or `pk_live_...`)
  parameters:
    PaymentId:
      name: id
      in: path
      required: true
      description: Public payment ID
      schema:
        type: string
        example: pay_nLU2gUDk-v3tdyd6
    CustomerId:
      name: id
      in: path
      required: true
      description: Public customer ID
      schema:
        type: string
        example: cus_abc123xyz
    CheckoutSessionId:
      name: id
      in: path
      required: true
      description: Public checkout session ID
      schema:
        type: string
        example: cs_abc123xyz
    PaymentLinkId:
      name: id
      in: path
      required: true
      description: Public payment link ID
      schema:
        type: string
        example: plink_abc123xyz
    InvoiceId:
      name: id
      in: path
      required: true
      description: Public invoice ID
      schema:
        type: string
        example: inv_abc123xyz
  schemas:
    AssetRef:
      type: object
      required: [asset_code]
      properties:
        asset_code:
          type: string
          description: Stellar asset code (1–12 alphanumeric characters, or XLM)
          example: USDC
        issuer_address:
          type: string
          nullable: true
          description: Issuer public key for credit assets. Null for XLM.
    PaymentAssetConfig:
      type: object
      properties:
        settlement_asset:
          $ref: "#/components/schemas/AssetRef"
          description: Asset the merchant settles in
        allowed_assets:
          type: array
          minItems: 1
          items:
            $ref: "#/components/schemas/AssetRef"
          description: Assets the customer may pay with at checkout
    PaymentAsset:
      type: string
      deprecated: true
      description: Deprecated. Use settlement_asset and allowed_assets on payments.
      enum: [USDC, XLM]
    PaymentStatus:
      type: string
      enum: [pending, completed, failed, expired]
    PaymentSourceType:
      type: string
      enum: [direct, checkout_session, payment_link, invoice]
    CheckoutSessionStatus:
      type: string
      enum: [open, complete, expired]
    InvoiceStatus:
      type: string
      enum: [draft, open, paid, void]
    Environment:
      type: string
      enum: [sandbox, production]
    StellarAmount:
      type: string
      description: Stellar amount with up to 7 decimal places
      pattern: '^\d+(\.\d{1,7})?$'
      example: "10.5"
    StringMetadata:
      type: object
      additionalProperties:
        type: string
      nullable: true
    CreatePaymentRequest:
      type: object
      required: [amount]
      properties:
        amount:
          $ref: "#/components/schemas/StellarAmount"
        settlement_asset:
          $ref: "#/components/schemas/AssetRef"
          description: Optional. Defaults to the organization settlement asset.
        allowed_assets:
          type: array
          minItems: 1
          items:
            $ref: "#/components/schemas/AssetRef"
          description: Optional. Defaults to all enabled organization assets.
        description:
          type: string
          maxLength: 500
          nullable: true
        metadata:
          $ref: "#/components/schemas/StringMetadata"
        expires_in_minutes:
          type: integer
          minimum: 5
          maximum: 10080
          description: Minutes until the payment expires (default 60)
        customer_id:
          type: string
          nullable: true
          description: Customer public ID to link before checkout
    CreateCustomerRequest:
      type: object
      properties:
        email:
          type: string
          format: email
          nullable: true
        name:
          type: string
          maxLength: 200
          nullable: true
        primary_stellar_address:
          type: string
          nullable: true
          description: Stellar public key (G...)
        notes:
          type: string
          maxLength: 2000
          nullable: true
        metadata:
          $ref: "#/components/schemas/StringMetadata"
    CreateCheckoutSessionRequest:
      type: object
      required: [amount]
      properties:
        amount:
          $ref: "#/components/schemas/StellarAmount"
        settlement_asset:
          $ref: "#/components/schemas/AssetRef"
        allowed_assets:
          type: array
          minItems: 1
          items:
            $ref: "#/components/schemas/AssetRef"
        description:
          type: string
          maxLength: 500
          nullable: true
        metadata:
          $ref: "#/components/schemas/StringMetadata"
        expires_in_minutes:
          type: integer
          minimum: 5
          maximum: 10080
        customer_id:
          type: string
          nullable: true
        success_url:
          type: string
          format: uri
          nullable: true
        cancel_url:
          type: string
          format: uri
          nullable: true
    CreatePaymentLinkRequest:
      type: object
      required: [amount]
      properties:
        amount:
          $ref: "#/components/schemas/StellarAmount"
        settlement_asset:
          $ref: "#/components/schemas/AssetRef"
        allowed_assets:
          type: array
          minItems: 1
          items:
            $ref: "#/components/schemas/AssetRef"
        description:
          type: string
          maxLength: 500
          nullable: true
        metadata:
          $ref: "#/components/schemas/StringMetadata"
    CreateInvoiceRequest:
      type: object
      required: [amount, customer_id]
      properties:
        amount:
          $ref: "#/components/schemas/StellarAmount"
        customer_id:
          type: string
          description: Customer public ID
        description:
          type: string
          maxLength: 500
          nullable: true
        metadata:
          $ref: "#/components/schemas/StringMetadata"
        due_in_days:
          type: integer
          minimum: 1
          maximum: 365
          description: Days until due (default 30)
    InvoiceItem:
      type: object
      required: [description, quantity, unit_amount]
      properties:
        description:
          type: string
        quantity:
          type: string
        unit_amount:
          $ref: "#/components/schemas/StellarAmount"
    Customer:
      type: object
      required: [id, environment, created_at, updated_at]
      properties:
        id:
          type: string
          example: cus_abc123xyz
        email:
          type: string
          nullable: true
        name:
          type: string
          nullable: true
        primary_stellar_address:
          type: string
          nullable: true
        notes:
          type: string
          nullable: true
        metadata:
          $ref: "#/components/schemas/StringMetadata"
        environment:
          $ref: "#/components/schemas/Environment"
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
    Payment:
      type: object
      required: [id, object, amount, settlement_asset, allowed_assets, status, checkout_url, created_at]
      properties:
        id:
          type: string
          example: pay_nLU2gUDk-v3tdyd6
        object:
          type: string
          enum: [payment_intent]
        amount:
          type: string
          example: "2.0000000"
        settlement_asset:
          $ref: "#/components/schemas/AssetRef"
        allowed_assets:
          type: array
          items:
            $ref: "#/components/schemas/AssetRef"
        paid_asset:
          allOf:
            - $ref: "#/components/schemas/AssetRef"
          nullable: true
          description: Asset the customer actually paid with (set after checkout)
        status:
          $ref: "#/components/schemas/PaymentStatus"
        description:
          type: string
          nullable: true
        metadata:
          $ref: "#/components/schemas/StringMetadata"
        checkout_url:
          type: string
          format: uri
        source_type:
          $ref: "#/components/schemas/PaymentSourceType"
        customer_id:
          type: string
          nullable: true
        payer_address:
          type: string
          nullable: true
        tx_hash:
          type: string
          nullable: true
        confirmed_at:
          type: string
          format: date-time
          nullable: true
        expires_at:
          type: string
          format: date-time
          nullable: true
        created_at:
          type: string
          format: date-time
    CheckoutSession:
      type: object
      required: [id, object, status, checkout_url, created_at]
      properties:
        id:
          type: string
          example: cs_abc123xyz
        object:
          type: string
          enum: [checkout.session]
        status:
          $ref: "#/components/schemas/CheckoutSessionStatus"
        payment_intent_id:
          type: string
          nullable: true
        amount:
          type: string
          nullable: true
        settlement_asset:
          allOf:
            - $ref: "#/components/schemas/AssetRef"
          nullable: true
        allowed_assets:
          type: array
          items:
            $ref: "#/components/schemas/AssetRef"
        paid_asset:
          allOf:
            - $ref: "#/components/schemas/AssetRef"
          nullable: true
        payment_status:
          $ref: "#/components/schemas/PaymentStatus"
        customer_id:
          type: string
          nullable: true
        success_url:
          type: string
          format: uri
          nullable: true
        cancel_url:
          type: string
          format: uri
          nullable: true
        checkout_url:
          type: string
          format: uri
        expires_at:
          type: string
          format: date-time
          nullable: true
        created_at:
          type: string
          format: date-time
    PaymentLink:
      type: object
      required: [id, object, amount, settlement_asset, allowed_assets, active, url, environment, created_at, updated_at]
      properties:
        id:
          type: string
          example: plink_abc123xyz
        object:
          type: string
          enum: [payment_link]
        amount:
          type: string
        settlement_asset:
          $ref: "#/components/schemas/AssetRef"
        allowed_assets:
          type: array
          items:
            $ref: "#/components/schemas/AssetRef"
        description:
          type: string
          nullable: true
        active:
          type: boolean
        metadata:
          $ref: "#/components/schemas/StringMetadata"
        url:
          type: string
          format: uri
          description: Hosted payment link URL (`/l/plink_...`)
        environment:
          $ref: "#/components/schemas/Environment"
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
    Invoice:
      type: object
      required: [id, object, invoice_number, status, amount, created_at, updated_at]
      properties:
        id:
          type: string
          example: inv_abc123xyz
        object:
          type: string
          enum: [invoice]
        invoice_number:
          type: string
          example: INV-000001
        status:
          $ref: "#/components/schemas/InvoiceStatus"
        amount:
          type: string
        settlement_asset:
          allOf:
            - $ref: "#/components/schemas/AssetRef"
          nullable: true
          description: From the linked payment after finalize (null on draft)
        allowed_assets:
          type: array
          items:
            $ref: "#/components/schemas/AssetRef"
        description:
          type: string
          nullable: true
        metadata:
          $ref: "#/components/schemas/StringMetadata"
        customer_id:
          type: string
          nullable: true
        checkout_session_id:
          type: string
          nullable: true
        checkout_url:
          type: string
          format: uri
          nullable: true
        hosted_invoice_url:
          type: string
          format: uri
          nullable: true
          description: Public invoice page (`/i/inv_...`)
        items:
          type: array
          items:
            $ref: "#/components/schemas/InvoiceItem"
        due_at:
          type: string
          format: date-time
          nullable: true
        paid_at:
          type: string
          format: date-time
          nullable: true
        sent_at:
          type: string
          format: date-time
          nullable: true
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
    Error:
      type: object
      required: [error]
      properties:
        error:
          type: string
  responses:
    Unauthorized:
      description: Missing or invalid API key
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"
          example:
            error: Unauthorized
    BadRequest:
      description: Invalid request body or business rule violation
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"
          example:
            error: Receiving wallet is not configured
    NotFound:
      description: Resource not found
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"
          example:
            error: Payment not found
