openapi: 3.1.0
info:
  title: Payoes API
  version: 1.0.0
  description: |
    REST API for creating and managing Stellar payments.

    Authenticate with a Bearer API key (`pk_test_...` or `pk_live_...`).
servers:
  - url: https://payoes.com/api/v1
    description: Production host (replace with your deployment URL)
  - url: http://localhost:3000/api/v1
    description: Local development
security:
  - bearerAuth: []
tags:
  - name: Payments
    description: Create and retrieve blockchain payment requests
  - name: Customers
    description: Manage payer profiles and payment history
paths:
  /payments:
    get:
      operationId: listPayments
      tags: [Payments]
      summary: List payments
      description: Returns payments for the organization tied to the API key.
      responses:
        "200":
          description: Payment list
          content:
            application/json:
              schema:
                type: object
                required: [payments]
                properties:
                  payments:
                    type: array
                    items:
                      $ref: "#/components/schemas/Payment"
        "401":
          $ref: "#/components/responses/Unauthorized"
    post:
      operationId: createPayment
      tags: [Payments]
      summary: Create a payment
      description: |
        Creates a pending payment and returns a hosted checkout URL.
        The receiving wallet and network are resolved from your organization settings.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreatePaymentRequest"
      responses:
        "201":
          description: Payment created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Payment"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
  /payments/{id}:
    get:
      operationId: getPayment
      tags: [Payments]
      summary: Retrieve a payment
      parameters:
        - name: id
          in: path
          required: true
          description: Public payment ID (e.g. `pay_abc123`)
          schema:
            type: string
            example: pay_nLU2gUDk-v3tdyd6
      responses:
        "200":
          description: Payment details
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Payment"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
  /customers:
    get:
      operationId: listCustomers
      tags: [Customers]
      summary: List customers
      responses:
        "200":
          description: Customer list
          content:
            application/json:
              schema:
                type: object
                required: [customers]
                properties:
                  customers:
                    type: array
                    items:
                      $ref: "#/components/schemas/Customer"
        "401":
          $ref: "#/components/responses/Unauthorized"
    post:
      operationId: createCustomer
      tags: [Customers]
      summary: Create a customer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateCustomerRequest"
      responses:
        "201":
          description: Customer created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Customer"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
  /customers/{id}:
    get:
      operationId: getCustomer
      tags: [Customers]
      summary: Retrieve a customer
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            example: cus_abc123xyz
      responses:
        "200":
          description: Customer with payment history
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/Customer"
                  - type: object
                    properties:
                      payments:
                        type: array
                        items:
                          $ref: "#/components/schemas/Payment"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: API key issued from the Payoes dashboard (pk_test_ or pk_live_)
  schemas:
    PaymentStatus:
      type: string
      enum: [pending, completed, failed, expired]
    PaymentAsset:
      type: string
      enum: [USDC, XLM]
    CreatePaymentRequest:
      type: object
      required: [amount, asset]
      properties:
        amount:
          type: string
          description: Stellar amount with up to 7 decimal places
          example: "10.5"
          pattern: '^\d+(\.\d{1,7})?$'
        asset:
          $ref: "#/components/schemas/PaymentAsset"
        description:
          type: string
          maxLength: 500
          nullable: true
          example: Invoice #1024
        metadata:
          type: object
          additionalProperties:
            type: string
          nullable: true
          example:
            order_id: ord_123
        expires_in_minutes:
          type: integer
          minimum: 5
          maximum: 10080
          description: Minutes until the payment expires (default 60)
          example: 60
        customer_id:
          type: string
          nullable: true
          description: Optional customer to link before checkout
          example: cus_abc123xyz
    CreateCustomerRequest:
      type: object
      properties:
        email:
          type: string
          format: email
          nullable: true
        name:
          type: string
          maxLength: 200
          nullable: true
        primary_stellar_address:
          type: string
          nullable: true
          description: Stellar public key (G...)
        notes:
          type: string
          maxLength: 2000
          nullable: true
        metadata:
          type: object
          additionalProperties:
            type: string
          nullable: true
    Customer:
      type: object
      required: [id, environment, created_at, updated_at]
      properties:
        id:
          type: string
          example: cus_abc123xyz
        email:
          type: string
          nullable: true
        name:
          type: string
          nullable: true
        primary_stellar_address:
          type: string
          nullable: true
        notes:
          type: string
          nullable: true
        metadata:
          type: object
          additionalProperties:
            type: string
          nullable: true
        environment:
          type: string
          enum: [sandbox, production]
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
    Payment:
      type: object
      required:
        - id
        - amount
        - asset
        - status
        - checkout_url
        - created_at
      properties:
        id:
          type: string
          example: pay_nLU2gUDk-v3tdyd6
        amount:
          type: string
          example: "2.0000000"
        asset:
          $ref: "#/components/schemas/PaymentAsset"
        status:
          $ref: "#/components/schemas/PaymentStatus"
        description:
          type: string
          nullable: true
        metadata:
          type: object
          additionalProperties:
            type: string
          nullable: true
        checkout_url:
          type: string
          format: uri
          example: https://payoes.com/c/pay_nLU2gUDk-v3tdyd6
        customer_id:
          type: string
          nullable: true
          description: Linked customer public ID
        payer_address:
          type: string
          nullable: true
          description: Stellar wallet that submitted the payment
        tx_hash:
          type: string
          nullable: true
          description: Stellar transaction hash after confirmation
        confirmed_at:
          type: string
          format: date-time
          nullable: true
        expires_at:
          type: string
          format: date-time
          nullable: true
        created_at:
          type: string
          format: date-time
    Error:
      type: object
      required: [error]
      properties:
        error:
          type: string
  responses:
    Unauthorized:
      description: Missing or invalid API key
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"
          example:
            error: Unauthorized
    BadRequest:
      description: Invalid request body or business rule violation
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"
          example:
            error: Receiving wallet is not configured
    NotFound:
      description: Resource not found
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"
          example:
            error: Payment not found
